body{
    text-align: justify;
    background-color:rgb(238, 250, 241);
    margin: 18px;

}

.titulo1{
    color: rgb(2, 112, 35);
    font-size: 50px;
    text-align: center;
    font-family: "Century Gothic";
}

.titulo2{
    color:rgb(11, 230, 41);
    font-size: 30px;
    text-align: center;
    font-family:"Century Gothic";
}

p{
    color: black;
    font-size: 18px;
    text-align:justify;
    font-family:"Century Gothic";
}

footer{
    color:rgb(167, 7, 87);
    font-size: 18px;
    text-align: center;
    font-family: "Century Gothic";
    background-color:rgba(235, 238, 243, 0.993);
}